@import "tailwindcss";
@theme {
  --color-primary: #00d991;
  --color-dark: #171923;
  --color-light: #fff;
  --color-body: #1d1e28;
}
@layer components {
  .container {
    @apply mx-auto;
    padding: 1.25rem;
  }
}
.dark {
  @apply bg-[#171923] text-white;
}
@custom-variant dark (&:where(.dark, .dark *));
